.auth-page {

    .form-label {
        font-size: 14px;
    }

    .form-control {
        border-radius: 8px;
        background-color: #F7F8FA;
    }

    .btn {
        border-radius: 8px;
    }

    .link-account {
        margin-top: 50px;
    }
}